img {
    max-width: 100%;
}

#indexbgimage {
	background-image: url("images/pancakes.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  	min-height: 1250px;
}

#projectsbgimage {
	background-image: url("images/coffee_mugs.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  	min-height: 1250px;
}

#aboutbgimage {
	background-image: url("images/spread.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  	min-height: 1250px;
}

#contactbgimage {
	background-image: url("images/view.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  	min-height: 1250px;
}

.navlinks{
	font: bold 16px Arial;
	font-variant: small-caps;
	color: white;
	opacity: 0.8;
	text-decoration: none;
	text-align: right;
}

@media only screen and (max-width: 768px) {
  .navlinks{
	font-size: 12px;
  }
}

.navlinks:hover{
	opacity: 1;
	text-decoration: none;
	color: white;
}

.right{
	float: right;
}

#me {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	color: white;
	opacity: 0.9;
	text-decoration: none;
	position: fixed;
  	bottom: 40px;
}

.container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
	padding: 2%;
	margin: 1%;
  	width: 350px;
	background-color: rgba(211, 211, 211, 0.8);
	border-radius: 5px;
	font: bold 16px Arial;
	color: gray;
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 	transition: 0.3s;
}

.card > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	opacity: 0.8;
}

.card > a:hover {
	text-decoration: underline;
}

.card:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#email {
	text-decoration: none;
	font: bold 18px;
  	color: white;
	opacity: 0.8;
}

#email:hover {
	text-decoration: underline;
}

header {
	background-color: gray;
	color: white;
	font: bold 32px Arial;
	max-width: 95%;
	padding: 20px;
	margin: 10px;
}

footer {
	margin: 10px;
}

footer > a {
	color: white;
  	text-decoration: none;
	font: bold 10px Arial;
  	padding: 5px;
}

footer > a:hover {
	background-color: gray;
}